[alias]
    aa = add -A

    b = branch -vv
    bd = branch -d
    bD = branch -D
    bg = "!git b | grep gone"

    ci = commit
    cia = commit --amend
    cif = commit --fixup
    ciaa = commit -a --amend
    ciaf = commit -a --fixup

    co = checkout
    com = checkout main

    cp = cherry-pick

    d = diff
    dc = diff --cached
    dh = diff HEAD~1
    dw = diff -w
    dm = diff main..

    # With split view - Need to `brew install delta` for these.
    ds =  "!GIT_PAGER=delta git diff"
    dcs = "!GIT_PAGER=delta git diff --cached"
    dhs = "!GIT_PAGER=delta git diff HEAD~1"
    dws = "!GIT_PAGER=delta git diff -w"
    dms = "!GIT_PAGER=delta git diff main.."

    f = fetch --prune --no-all --no-tags

    # 'h' for 'half'
    h = bisect

    l1 = log --oneline
    l1b = "!git log --oneline $(git merge-base HEAD @{-1}).."

    p = pull --no-tags
    pr = pull --no-tags --rebase

    pushu = "!git push -u origin `git symbolic-ref --short HEAD`"

    r = "!git rebase -i $(git merge-base HEAD @{-1})"
    ras = "!git rebase -i $(git merge-base HEAD @{-1}) --autosquash"
    raac = "!git aa; git rc"
    ra = rebase --abort
    rc = rebase --continue

    st = status

    up = "!git com && git p && git f"
    purge = "!git f && git bg | cut -f1-3 -d ' ' | xargs git bd"
    pup = "!git up && git purge"
    remain ="!git com && git p && git co - && git rebase origin/main"

[user]
	name = Justin Johnson
	email = booleangate@gmail.com
[push]
    default = simple
[pull]
	rebase = true
[init]
	defaultBranch = main
[core]
    # Uncomment this to default to split view diffs, otherwise us the git `d*s` aliases (see above)
    #pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	side-by-side = true
	navigate = true
[diff]
	colorMoved = zebra
