[alias]
    aa = add -A

    b = branch -vv
    bd = branch -d
    bD = branch -D
    bg = "!git b | grep gone"

    ci = commit
    cia = commit --amend
    cif = commit --fixup
    ciaa = commit -a --amend
    ciaf = commit -a --fixup

    co = checkout
    com = checkout main
    cos = "!git checkout $(git branch --all | grep upmo | grep -v remote | fzf)"

    cp = cherry-pick

    d = diff
    dc = diff --cached
    dh = diff HEAD~1
    dw = diff -w
    dm = diff main..

    # With split view
    ds =  "!GIT_PAGER=delta git diff"
    dcs = "!GIT_PAGER=delta git diff --cached"
    dhs = "!GIT_PAGER=delta git diff HEAD~1"
    dws = "!GIT_PAGER=delta git diff -w"
    dms = "!GIT_PAGER=delta git diff main.."

    f = fetch --prune --no-all --no-tags

    # 'h' for 'half'
    h = bisect

    ### Logging
    l1 = log --oneline
    # log all commits for the current branch.  MUST have checked out the parent branch (e.g. the branch from which the
    # current branch was forked) and then this branch for merge-base to properly identify the first commit of this
    # branch.
    l1b = "!git log --oneline $(git merge-base HEAD @{-1}).."

    p = pull --no-tags
    pr = pull --no-tags --rebase

    pushu = "!git push -u origin `git symbolic-ref --short HEAD`"

    ### Starting rebases
    #
    # "rebase current branch" - Like l1b, MUST have checked out parent branch first and then this branch
    r = "!git rebase -i $(git merge-base HEAD @{-1})"
    # "rebase with auto-squash"
    ras = "!git rebase -i $(git merge-base HEAD @{-1}) --autosquash"
    # "rebase onto"
    ro = "!/${HOME}/config/git-rebase.sh"
    # rebase against main
    remain ="!git com && git p && git co - && git rebase origin/main"

    ### Handling merge conflicts
    raac = "!git aa; git rc"
    ra = rebase --abort
    rc = rebase --continue

    # gh stack stuff
    sa = "!gh stack add"
    sb = "!gh stack bottom"
    sd = "!gh stack down"
    sl = "!gh stack view --short"
    sp = "!gh stack push"
    sr = "!gh stack rebase"
    ss = "!gh stack switch"
    st = "!gh stack top"
    su = "!gh stack up"
    sv = "!gh stack view"

    st = status

    up = "!git com && git p && git f"
    purge = "!git f && git bg | cut -f1-3 -d ' ' | xargs git bd"
    pup = "!git up && git purge"

[user]
	name = Justin Johnson
	email = booleangate@gmail.com
[push]
    default = simple
[pull]
	rebase = true
[init]
	defaultBranch = main
[core]
    # Uncomment this to default to split view diffs, otherwise us the git `d*s` aliases (see above)
    #pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	side-by-side = true
	navigate = true
[diff]
	colorMoved = zebra
